@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css"); 
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"); 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container {
    max-width: 85%;
    margin: 0 auto;
}

.header_top_block {
    background: rgb(101, 37, 111);
    padding: 10px 0;
}

.left_text {
    color: rgb(255, 183, 0);
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
}
.header_left {
    display: flex;
    gap: 10px;
}
.right_text {
    color: rgb(255, 255, 255);
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.right_tel {
    color: rgb(251, 199, 14);
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}

.header_top_block .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation_block .container {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
}
.menu, .nav {
    display: flex;
    align-items: center;
    gap: 46px;
}
.menu__item {
    color: rgb(42, 40, 40);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    font-family: "Montserrat", sans-serif;
}

.price {
    width: 168px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: rgb(101, 37, 111);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    font-family: "Montserrat", sans-serif;
}
/* main */
.bg_fone {
    background: url(../images/bg.png) center / cover no-repeat;
    height: 90vh;
    margin-bottom: 62px;
}

.inner_bg {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
}
.inner_bg .container {
    display: flex;
    padding-top: 193px;
    justify-content: space-between;
}
.main_left {
    display: flex;
    flex-direction: column;
    max-width: 640px;
}
.main_title {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.main_title::after {
    content: "";
    display: flex;
    width: 50px;
    height: 4px;
    background-color: rgb(255, 255, 255);
}
.main_text {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgb(255, 255, 255);
    margin-bottom: 33px;
}

.main_btn {
    display: flex;
    width: 300px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: rgb(255, 201, 87);
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgb(0, 0, 0);
}

.main_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left-right-line-header:before {
    content: "";
    border-bottom: 2px solid rgb(190, 190, 190);
    width: 50%;
    height: 0.5em;
    position: absolute;
    top: 0px;
    margin-left: calc(-50% - 10px);
  }
  .left-right-line-header:after {
    content: "";
    border-bottom: 2px solid rgb(190, 190, 190);
    width: 50%;
    height: 0.5em;
    position: absolute;
    top: 0px;
    margin-left: 10px;
  }

.services_title {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    flex: 0 1 45%;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 52px;
}


.services_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
    margin-bottom: 60px;
}
.services_card_item {
    flex: 0 1 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 40px 40px 40px;
    border-radius: 3px;
    box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}
.services_card_item img {
    width: 80%;
    margin-bottom: 20px;
}
.services_card_title {
    display: flex;
    font-family: "Gilroy", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 21px;
    font-size: 18px;
    text-align: center;
}

.services_card_text {
    display: flex;
    width: 220px;
    color: rgb(94, 94, 94);
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 53px;
}

.services_card_link {
    color: rgb(117, 62, 214);
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    font-size: 14px;
}

.our_works_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    row-gap: 30px;
}
.works_img{
    position: relative;
    flex: 0 1 30%;
}
.works_img img {
    filter: brightness(50%);
    width: 100%;
}

.our_works_text {
    position: absolute;
    display: flex;
    max-width: 320px;
    bottom: 20px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.our_works_btn {
    display: flex;
    width: 368px;
    height: 52px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    font-family: "Gilroy", sans-serif;
    border-radius: 3px;
    background: rgb(101, 37, 111);
    margin: 0 auto;
    margin-bottom: 94px;
}

.production_wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.production_img {
    flex: 0 1 30%;
}

.production_img img {
    width: 100%;
} 

.our_price_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 26px;
    margin-bottom: 30px;
}

.our_price_card {
    flex: 0 1 23%;
}
.our_price_card img {
    width: 100%;
}

.our_price_text{
    color: rgb(90, 88, 88);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.our_price_price {
    color: rgb(76, 31, 140);
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.our_price_btn {
    display: flex;
    width: 368px;
    height: 52px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    font-family: "Gilroy", sans-serif;
    border-radius: 3px;
    background: rgb(101, 37, 111);
    margin: 0 auto;
    margin-bottom: 60px;
}

.our_clients_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.team_wrap_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team_card {
    flex: 0 1 30%;
}

.team_card img {
    width: 100%;
}
.team_card_title {
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    margin-top: 24px;
    margin-bottom: 10px;
}

.team_card_text {
    color: rgb(111, 108, 108);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.team_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 8px;
}
.team_title {
    color: rgb(52, 52, 52);
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.team_text {
    color: rgb(88, 88, 88);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.team_form {
    display: flex;
    gap: 26px;
    margin-top: 58px;
    align-items: center;
    justify-content: center;
    margin-bottom: 82px;
}


.form_input {
    width: 315px;
    height: 47px;
    border-radius: 3px;
    background: rgb(236, 232, 232);
    padding: 12px 16px;
}

.team_btn {
    width: 226px;
    height: 47px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
    border-radius: 3px;
    background: rgb(101, 37, 111);
    text-align: center;
}
.small {
    flex: 0 1 36%;
}
.small2 {
    flex: 0 1 45%;
}

/* footer */
.footer {
    background-color: rgb(58, 58, 58);
    padding: 63px 0 103px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.about_company {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.about_company_title {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
}

.about_company_text {
    color: rgb(188, 187, 187);
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.footer_li .footer_link {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}
.footer_link {
    color: rgb(188, 187, 187);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.information {
    width: 214px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.information_title {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.information_text {
    color: rgb(188, 187, 187);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.information_phone {
    color: rgb(188, 187, 187);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.information_mail {
    color: rgb(188, 187, 187);
    font-size: 14px;
    font-weight: 600;
    line-height: 0px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}

.social_media {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.social_media_title {
    color: rgb(255, 255, 255);
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
}

.socialMedia {
    color: rgb(188, 187, 187);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    font-family: "Gilroy", sans-serif;
}
